h1 Add Movie

form(action="/add", method="post")
    input(type="text", placeholder="title", name="title")
    textarea(name="synopsis", cols="30", rows="2", placeholder="synopsis")
    input(type="text", placeholder="genres", name="genres")
    input(type="submit", value="Add Movie")